@font-face {
  font-family: qanelas-bold;
  src: url(../font/qanelas-bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: qanelas;
  src: url(../font/qanelas-bold.otf);
}

body {
  font-family: qanelas;
  overflow: scroll;
}

.container {
  width: 90% !important;
}

.map {
  width: 99%;
  height: 100%;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #E8E8E8;
}

.chart {
  margin-top: 10%;
}

.navbar {
  width: 100%;
  background: #3b3b3b;
  border-bottom: 2px solid #888888;
  height: 65px;
  overflow: hidden;
  display: block;
}

.navbar img {
  margin: 5px;
  margin-left: 15px;
  width: 100px;
  height: 60px;
}

.content {
  width: 100%;
  height: 500px;
  position: relative;
}

.container-chart {
  float: left;
  width: 40%;
  overflow: hidden;
}

.container-map {
  float: right;
  width: 60%;
  position: relative;
}
.crumbs {
  min-height: 15px;
}

.crumbs .crumb {
  position: relative;
  padding: 12px;
  font-family: qanelas-bold;
}

.crumbs .crumb:not(:last-of-type):before {
  content: "";
  display: block;
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 6px solid #658ed0;
  border-bottom: 4px solid transparent;
  top: 18px;
  right: -5px;
}

.container-description {   
  min-height: 100px;
  width: 65%;
  overflow: inherit;
  float: left;
  height: 100%;
  margin-top: 10px;
  padding: 10px;     
  border-right: 1px solid lightgray;  
  position: relative;
}    

.container-legend {  
  min-width: 100px;
  width: 25%;
  height: 100%;
  margin: 5px;
  margin: 10px;
  padding: 5px;
  font-size: 14px;
  float: right;
  position: relative;
}

.container-legend img {
  max-height: 130px;
}

.container-legend label {
  display: block;
}

.container-description-row {  
  display: inline-block;
}

.container-description-row-content {
  float: left;
}

.container-description-row {
  font-size: 14px;
}

.row {
  padding-left: 3%;
}

.panel {
  border: 0;
}

.breadcrumb {
  background: rgb(219, 219, 219);
  border-radius: 6px;
  display: block;
  padding: 10px;
  margin: 4px;
  margin-top: 6px;
  margin-bottom: 8px;
}

.breadcrumb li {
  font-size: 0.9em;
}

.breadcrumb a {
  color: rgba(66, 139, 202, 1);
}

.breadcrumb a:hover {
  color: rgba(42, 100, 150, 1);
}

.breadcrumb>.active {
  color: rgba(153, 153, 153, 1);
}

.breadcrumb>li+li:before {
  color: rgba(204, 204, 204, 1); content: "\002F\00a0";
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
  margin: 2px;
  float: right;
  z-index: 999;
  position: absolute;
  right: 10px;
  top: 10px;
}    

.loader2 {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
  margin: 2px;
  float: right;
  z-index: 999;
  position: absolute;
  right: 2px;
  top: 2px;
}       

.sunburst-viz {
  filter: drop-shadow(0px 0px 3px #3b3b3b ) !important;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .button-back {
    width: 30px;
  }

  .button-back:before {
    padding-top: 3px;
    width: auto;
    height: 100%;
    content: url('../img/iconfinder_arrow-left-01_186410.svg');
    color: gray;
    float: left;
  }
}

.button-back {
  overflow: hidden;
  color: #3b3b3b;
  position: absolute;
  top: 2px;
  right: 25px;
  height: 27px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 1px 2px 4px #888888;
  display: table;
  font-size: 1em;
  padding: 2px;
}

.button-back:hover {
  background-color: 1px solid #f3f3f3;
}

.button-back:active {
  border: none;
}

.button-back:before {
  padding-top: 2px;
  width: auto;
  height: 100%;
  content: url('../img/iconfinder_arrow-left-01_186410.svg');
  color: gray;
  float: left;
}